# Dependencies
node_modules

# Build outputs
dist
build
.next
out
coverage

# Turbo
.turbo

# Generated / lockfiles
pnpm-lock.yaml
*.tsbuildinfo

# Drizzle generated SQL
**/drizzle/**

# Misc
*.min.js
*.min.css
